.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 15px;
}

main {
  padding: 20px;
}
body{
  background-color: black;
}
footer {
  margin-top: 20px;
  font-size: 0.8em;
}
.side-bars {
  color: white;
}
.navbar-icons img{
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
/* Banner */
.banner{
  background-image: url('./assets/wp4855908.png');
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-shadow:
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
.tagline{
  font-size: 1.5rem;
}
.box{
  border: 2px soild black;
  padding: 10px;
  margin: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}
.inside-box{
  text-align: center;
}