.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 15px;
}

main {
  padding: 20px;
}

footer {
  margin-top: 20px;
  font-size: 0.8em;
}
.side-bars {
  color: white;
}